<li class="quote clearfix rows q-<%= quote.id %>" data-qid="<%= quote.id %>">

<!-- Dynamically size quotes text depending on content size !-->
<% if quote.text.length < 111 %>
  <% font_size = "big" %>
<% elsif quote.text.length > 193 %>
  <% font_size = "small" %>
<% end %>

    <div class="quote-metadata">
        <div class="quote-source">
            <%= image_tag quote.source.favicon, :class => "source-favicon" %>
            <%= link_to quote.source.hostname, quote.url, :class => "source-url" %>
        </div>
        <div class="quote-date">
            <%= quote.created_at.day.to_s << ". " << quote.created_at.strftime("%B") %>
        </div>
    </div>
    <div class="quote-content <%= font_size %>">
      <p class="dc2"><%= quote.text %></p>
      <div class="quote-actions">
        
        <%= link_to "Remove", quote, method: :delete, :class => "remove-quote button" %>
        <%= link_to "+ Add tag", "#!", :class => "add-tag button", :title => "Add tag" %>
        <div class="quote-tags q-<%= quote.id %>">
          <% quote.tag_list.each do |tag| %>
            <%= render :partial => 'quotes/tag', locals: { quote: quote, tag: tag } %>
          <% end %>
          <!--<%= link_to "#!" do %>
            <span class="socicon">a</span>
          <% end %>
          !-->
        </div>
        
      </div>
    </div>
    <%= render :partial => 'quotes/popup', locals: { quote: quote, tags: @board.owned_tags } %>
</li>