<div class="quote pimp style-<%= quote.id % 3 %> q-<%= quote.id %>">
	<h3><%= quote.updated_at.year.to_s.last(2) %>.<%= sprintf '%02d', quote.updated_at.month %>.<%= sprintf '%02d', quote.updated_at.day %></h3>
	<%= link_to 'X', quote, confirm: 'Remove this? Are you sure?', method: :delete, :remote => true, :class => 'remove', :alt => "Remove" %>
	<br/>
	<%= link_to quote.source.split('/')[2].truncate(26), quote.source, :class => 'source' %>
	<% if quote.text.length < 67 %>
	  <p class="big"><%= quote.text %></p>
	<% elsif quote.text.length > 269 %>
	  <p class="small"><%= quote.text %></p>
	<% else %>
	  <p><%= quote.text %></p>
	<% end %>
	<div class="quote-details">
		<a href="http://twitter.com/share?url=<%= quote.source %>&text=<%= '"' << quote.text.truncate(99) << '"' << ' read at' %>&count=none" target="_blank" rel="nofollow" class="tiny">Tweet this</a>
	</div>
</div>