<div class="<%= quote.classes_for(current_user) %>">
   <!-- Title and Favicon !-->
  <div class="c-quote__metadata__container">
    <div class="c-quote__metadata c-quote__metadata--secondary">
      <%= image_tag quote.favicon, class: "c-quote__favicon" %>
      <%= link_to quote.title, quote.url, class: "c-quote__title" %>
      <% if quote.readability_author %>
        <p class="c-quote__author"><em>by</em> <%= quote.readability_author %></p>
      <% end %>
    </div>
    <div class="c-quote__metadata c-quote__metadata--primary">
      <p class="c-quote__timestamp subtitle--all-caps subtitle--secondary" title="Date of creation.">
        <%= quote.source_date %>
      </p>
    </div>
  </div>

  <!-- Quote !-->
  <h1 class="c-quote__content <%= quote.font_size %>">
    <%= link_to_if(controller_name.eql?("boards"), (raw quote.highlight(@search.query)), board_quote_path(@board, quote)) %>
  </h1>

  <!-- Tags !-->
  <% if current_user && controller_name.eql?("quotes") %>
    <%= link_to (fa_icon "trash-o"), board_quote_path(@board, quote), method: :delete, class: "u-block c-quote__remove", title: "Delete this quote." %>
  <% end %>
  <div class="c-quote__tags">
      <ul class="u-inline-block">
        <% quote.unique_tags.each do |tag| %>
            <%= render partial: 'tags/tag', locals: { quote: quote, tag: tag } %>
        <% end %>
      </ul>
      <% if current_user && controller_name.eql?("quotes") %>
        <%= render partial: 'quotes/input_new_tag', locals: { quote: quote, board: @board } %>
      <% end %>
  </div>
</div>