<div class="quote pimp color-<%= quote.id % 3 %> q-<%= quote.id %>">
	<h1>12.04.17</h1>
	<%= link_to 'X', quote, confirm: 'Remove this? Are you sure?', method: :delete, :remote => true, :class => 'remove', :alt => "Remove" %>
	<% if quote.text.length < 67 %>
	  <p class="big"><%= quote.text %></p>
	<% elsif quote.text.length > 269 %>
	  <p class="small"><%= quote.text %></p>
	<% else %>
	  <p><%= quote.text %></p>
	<% end %>
	<div class="quote-details">
	  <p class="tiny">From </p>
	  <%= link_to quote.source.split('/')[2], quote.source, :class => 'source' %>
	</div>
</div>