<li class="quote clearfix rows q-<%= quote.id %>">

<!-- Dynamically size quotes text depending on content size !-->
<% if quote.text.length < 111 %>
  <% font_size = "big" %>
<% elsif quote.text.length > 193 %>
  <% font_size = "small" %>
<% end %>

    <div class="quote-metadata">
        <div class="quote-source">
            <%= image_tag quote.source.favicon, :class => "source-favicon" %>
            <h4 class="source-url"><%= link_to quote.source.hostname, quote.url %></h4>
        </div>
        <div class="quote-date">
            <%= quote.created_at.day.to_s << ". " << quote.created_at.strftime("%B") %>
        </div>
    </div>
    <div class="quote-content <%= font_size %>">
      <p class="dc2"><%= quote.text %></p>
      <div class="quote-actions">
        
        <%= link_to "Remove", quote, method: :delete %>
        <div class="quote-options">
          <% quote.tags.each do |t| %>
            <%= link_to t.name, "#!", :class => "tag" %>
          <% end %>
          <%= link_to "#!" do %>
            <span class="socicon">a</span>
          <% end %>
        </div>
        
      </div>
    </div>
</li>