<li class="quote clearfix q-<%= quote.id %>">

<!-- Dynamically size quotes text depending on content size !-->
<% if quote.text.length < 132 %>
  <% font_size = "big" %>
<% elsif quote.text.length > 243 %>
  <% font_size = "small" %>
<% end %>

    <div class="quote-metadata">
      <div class="source">
          <%= image_tag quote.source.favicon, :class => "favicon" %>
          <%= link_to quote.source.hostname, quote.url %>
      </div>
    </div>
    <div class="quote-content">
      <p class="<%= font_size %>"><%= quote.text %></p>
    </div>
    <div class="quote-share">
      <%= link_to "Share", "http://www.twitter.com" %>
    </div>
</li>