<% if quote.text.length < 132 %>
  <li class="clearfix small q-<%= quote.id %>">
<% elsif quote.text.length < 240 %>
  <li class="clearfix q-<%= quote.id %>">
<% else %>
  <li class="clearfix big q-<%= quote.id %>">
<% end %>

    <div class="quote-metadata">
      <div class="source">
        <span>
          <%= image_tag quote.source.favicon, :class => "favicon" %>
        </span>
        <span>
          <%= link_to quote.source.hostname, quote.url %>
        </span>
      </div>
    </div>
    <div class="quote-content">
      <p class="text"><%= quote.text %></p>
    </div>
    <div class="quote-share">
      <%= link_to "Share", "http://www.twitter.com" %>
    </div>
</li>