<li class="quote clearfix q-<%= quote.id %>">

<!-- Dynamically size quotes text depending on content size !-->
<% if quote.text.length < 111 %>
  <% font_size = "big" %>
<% elsif quote.text.length > 193 %>
  <% font_size = "small" %>
<% end %>

    <div class="quote-metadata">
        <div class="quote-source">
            <%= image_tag quote.source.favicon, :class => "source-favicon" %>
            <h4 class="source-url"><%= link_to quote.source.hostname, quote.url %></h4>
        </div>
        <div class="quote-date">
            <%= quote.created_at.strftime("%F") %>
        </div>
    </div>
    <div class="quote-content <%= font_size %>">
      <p><%= quote.text %></p>
    </div>
    <!--
    <div class="quote-share">
      <%= link_to "Share", "http://www.twitter.com" %>
    </div>
    !-->
</li>