<% if quote.created_at > current_user.last_active_at %>
  <li class="quote v2 unread clearfix rows q-<%= quote.id %>" data-qid="<%= quote.id %>">
<% else %>
  <li class="quote v2 clearfix rows q-<%= quote.id %>" data-qid="<%= quote.id %>">
<% end %>

<!-- Dynamically size quotes text depending on content size !-->
<% if quote.text.length < 111 %>
  <% font_size = "big" %>
<% elsif quote.text.length > 193 %>
  <% font_size = "small" %>
<% end %>

    <div class="quote-metadata">
        <div class="quote-source">
            <%= image_tag quote.source.favicon, :class => "source-favicon" %>
            <% if quote.readability_title.nil? %>
              <%= link_to quote.source.hostname, quote.url, :class => "source-url" %>
            <% else %>
              <%= link_to quote.readability_title.truncate(61), quote.url, :class => "source-url" %>
            <% end %>
            <div class="quote-date">
              <%= quote.created_at.day.to_s << ". " << quote.created_at.strftime("%B") %>
          </div>
          <div class="symbol-new"></div>
            <%= link_to "x", quote, method: :delete, :class => "remove-quote" %>
            <div class="metadata">
              <%= link_to quote.url, quote.url %>
            </div>
        </div>
    </div>
    <div class="quote-content <%= font_size %>">
      <p class="dc2"><%= quote.text %></p>
      <div class="quote-actions">
        <ul class="quote-tags">
          <% if quote.tags.any? %>
            <% quote.tags.each do |tag| %>
              <%= render :partial => 'quotes/tag', locals: { quote: quote, tag: tag } %>
            <% end %>
          <% end %>
        </ul>
        <%= link_to "Add a tag", "/tag/#new", :class => "append-tag button secondary", :title => "Add tag" %>
      </div>
    </div>
  </li>