<div class="<%= quote.classes_for(current_user) %>">
   <!-- Title and Favicon !-->
  <div class="c-quote__metadata__container">
    <div class="c-quote__metadata c-quote__metadata--secondary">
      <%= image_tag quote.favicon, class: "c-quote__favicon" %>
      <% if quote.readability_title %>
        <%= link_to quote.truncated_readability_title, quote.url, class: "c-quote__title" %>
      <% else %>
        <%= link_to quote.url, quote.url, class: "c-quote__title" %>
      <% end %>
      <% if quote.readability_author %>
        <p class="c-quote__author"><em>by</em> <%= quote.readability_author %></p>
      <% end %>
    </div>
    <div class="c-quote__metadata c-quote__metadata--primary">
      <p class="c-quote__timestamp subtitle--all-caps subtitle--secondary"><%= quote.source_date %></p>
      <% if current_user && action_name.eql?("show") %>
        <%= link_to (fa_icon "trash-o"), board_quote_path(@board, quote), method: :delete, class: "u-block c-quote__remove" %>
      <% end %>
    </div>
  </div>

  <!-- Quote !-->
  <div class="c-quote__content <%= quote.font_size %>">
    <% if controller_name.eql?("quotes") %>
      <h1>
        <% if @search.nil? %>
          <%= raw quote.highlight("") %>
        <% else %>
         <%= raw quote.highlight(@search.query) %>
        <% end %>
      </h1>
    <% else %>
        <%= link_to board_quote_path(@board, quote) do %>
          <h1>
            <% if @search.nil? %>
              <%= raw quote.highlight("") %>
            <% else %>
             <%= raw quote.highlight(@search.query) %>
            <% end %>
          </h1>
        <% end %>
    <% end %>
  </div>

  <!-- Tags !-->
  <div class="c-quote__tags">
      <ul class="u-inline-block">
        <% quote.unique_tags.each do |tag| %>
            <%= render partial: 'tags/tag', locals: { quote: quote, tag: tag } %>
        <% end %>
      </ul>
      <% if current_user && action_name.eql?("show") %>
        <%= form_for quote.tags.build, url: board_quote_tags_path(@board, quote), class: "c-tag_form" do |f| %>
          <%= f.text_field :name, placeholder: "New tag title", class: "c-tag_form__input" %>
          <%= f.submit "Add", class: "c-tag_form__button" %>
        <% end %>
      <% end %>
  </div>
</div>
