<% if quote.created_at > current_user.last_active_at %>
  <li class="quote unread q-<%= quote.id %>" data-qid="<%= quote.id %>">
<% else %>
  <li class="quote q-<%= quote.id %>" data-qid="<%= quote.id %>">
<% end %>

<!-- Dynamically size quotes text depending on content size !-->
<% if quote.text.length < 111 %>
  <% font_size = "big" %>
<% elsif quote.text.length > 193 %>
  <% font_size = "small" %>
<% end %>

    <div class="quote-metadata">
        <div class="quote-source-title-container">
            <%= image_tag quote.source.favicon, :class => "source-favicon" %>
            <div class="quote-source-title-data-wrapper">
              <% if quote.readability_title.nil? %>
                <%= link_to quote.url, :class => "quote-source-title" do %>
                  <%= quote.url %>
                <% end %>
              <% else %>
                <%= link_to quote.url, :class => "quote-source-title" do %>
                  <%= quote.readability_title.truncate(64) %>
                <% end %>
              <% end %>
              <div class="quote-source-status-new hidden"></div>
              <div class="quote-source-data-container">
                <p class="quote-source-date visible"><%= quote.created_at.day.to_s << ". " << quote.created_at.strftime("%B").slice(0,3) %></p>
              </div>
            </div>
        </div>
    </div>
    <div class="quote-content <%= font_size %>">
      <p><%= quote.text %></p>
    </div>
    <div class="quote-metadata">
      <div class="quote-actions">
          <ul class="quote-tags">
            <% if quote.tags.any? %>
              <% quote.tags.each do |tag| %>
                <%= render :partial => 'quotes/tag', locals: { quote: quote, tag: tag } %>
              <% end %>
            <% end %>
          </ul>
          <%= link_to "Add a tag", "/tag/#new", :class => "append-tag small button", :title => "Add tag" %>
        </div>
        <%= link_to "· · ·", quote, :class => "small button view" %>
      </div>
  </li>