<!--
<a class="bookmarklet" href='javascript:(function(){
    well = function() {
      log = true;

      if(log) console.log("r: Try section");
      try {
        if(!document.body)
          throw(0);

        if(document.getSelection().toString() === "") {
          alert("Empty selection.");
          throw(0);
        } else {
          
          text      = encodeURIComponent(document.getSelection().toString());
          url       = encodeURIComponent(document.location.href.toString());
          token     = "<%= @user.token %>";
          rel       = "icon";
          fi        = function() {
                      if(document.querySelectorAll("link[rel~=" +rel +"]").length > 0)
                        return encodeURIComponent(document.querySelectorAll("link[rel~=" +rel +"]")[0].href);
                      else
                        return encodeURIComponent("http://" +document.location.hostname +"/favicon.ico");
                    };

          query     = "//young-escarpment-4689.herokuapp.com/quotes/add?user_token=" +token +"&text=";

          script    = document.createElement("script");
          script.src  = query + text + "&url=" + url + "&favicon=" + fi() + "&callback=status";
        }

        /* TAKES CARE OF JSONP RESPONSE */
        jsonp = document.createElement("script");
        jsonp.setAttribute("type", "text/javascript");

        callback = "function status(data) {
          headline.innerText = data.message;
          popup.innerHTML = headline.outerHTML;
          counter = 0;
          interval = setInterval(function() {
            counter += 25;
            wait = 350;
            if(counter > wait) {
              value = counter - wait;
              popup.style.opacity = popup.style.opacity - (value/1000);
              document.body.removeChild(popup);
              document.body.appendChild(popup);
              if(counter === 1500) {
                clearInterval(interval);
                counter = 0;
                document.body.removeChild(popup);
              }
            }
          }, 50);
        }";

        jsonp.innerHTML = callback;
        document.body.appendChild(jsonp);
        
        /* CREATES POPUP */
        headline = document.createElement("h1");
        headline.id = "well-title";
        headline.style.textAlign = "center";
        headline.style.width = "175px";
        headline.innerText = "SAVING..";

        popup = document.createElement("div");
        popup.style.width = "175px";
        popup.style.padding = "25px";
        popup.style.zIndex = "20000";
        popup.style.position = "fixed";
        popup.style.top = "0";
        popup.style.opacity = "1";
        popup.innerHTML = headline.outerHTML;
        document.body.appendChild(popup);

        /* EXECUTE SCRIPT */
        document.body.appendChild(script);

      } catch(e) {
        alert("Please wait until the page has loaded.");
      }
    };

    if(/Firefox/.test(navigator.userAgent)) {
      setTimeout(well,0);
    } else {
      well();
    }})()'>
    NOTED
</a>
!-->

<!-- The form wraps all of the content control features to simplify AJAX query !-->
<%= form_tag quotes_path, :method => 'get', :remote => true, :id => "quotes-filter" do %>

  <!-- Includes all of the filter controls !-->
  <div class="filters-container">

    <div class="topbar">
      <h2>Filters</h2>
      <button class="reset" type="reset">Reset</button>
    </div>

    <div class="sidebar">
      <div class="filters-list">
        <ol>
          <% @sources.each do |source| %>
            <%= render :partial => 'source', locals: { source: source } %>
          <% end %>
        </ol>
      </div>
    </div>

  </div>
  <!-- END OF FILTER CONTROLS !-->

  <!-- Includes the search bar w/ icon !-->
  <div class="search-container">

    <span class="topbar">
        <%= image_tag "search.png" %>
    </span>

    <span class="search">
      <%= text_field_tag :search, params[:search], :placeholder => "What are you looking for?", :class => "search" %>
      <%= submit_tag "Search", :name => nil, :class => 'submit' %>
    </span>

  </div>
  <!-- END OF SEARCH BAR !-->
  
<% end %>
<!-- END OF FORM !-->

<ol class="quotes-container">
  <% if !@quotes.nil? %>
  	<% @quotes.each do |quote| %>
  		<%= render :partial => 'quote', locals: { quote: quote } %>
  	<% end %>
  <% end %>
</ol>
