<div class="content-container">
    <ol class="quotes-container">
    	<div class="options">
        	<%= link_to "< Back to the board", boards_path, :class => "small button" %>
        	<% if @quote.boards.first.user_id.eql?(current_user.id) %>
	    		<%= link_to "Delete this quote", @quote, method: :delete, :class => "small button remove" %>
	    	<% end %>
		</div>        
        <% if !@quote.nil? %>
            <div class="quotes-list">
              <%= render @quote %>
            </div>
        <% end %>
        <div class="options">
        	<div class="profile-container">
	        	<%= image_tag @quote.boards.first.users.first.twitter_image_url, :class => "profile-photo" %>
	        	<h5 class="profile-name"><%= @quote.boards.first.users.first.name || @quote.boards.first.users.first.email %></h5>
	        	<p class="profile-name">added this on <%= @quote.created_at.day.to_s << ". " << @quote.created_at.strftime("%B") %></p>
	        </div>
		</div>
    </ol>
</div>