<%= form_tag sessions_path do %>
	<h1 class="underline">Login here</h1>
    
	<div class="field">
		<%= text_field_tag :email, params[:email], :placeholder => "Electronic mail address" %>
	</div>
	<div class="field">
		<%= password_field_tag :password, params[:id], :placeholder => "Password" %>
	</div>
	<div class="actions">
		<%= submit_tag "Login." %>
		<h3>or <%= link_to "sign up", signup_path %></a></h3>
	</div>
	<p>Once logged in you're ready to use Well Said in a click. That's it, sweet, right.</p>
<% end %>