<div class="o-overlay">
  <div class="c-modal__window">
    <div class="modal__content">
      <%= link_to (image_tag "ettui-lfs-temp-logo.jpg"), root_path %>
      <h1>
        Hello, welcome back.
      </h1>
      <%= link_to "/auth/twitter?image_size=original", :class => "button" do %>
        <%= fa_icon 'twitter' %> Connect using Twitter
      <% end %>
      <%= render "login_form" %>
      <p>Don't have an account?
        <%= link_to "Sign up", signup_path %>
      </p>
    </div>
  </div>
</div>
