<div class="t-theme2">
  <div class="o-body">
    <div class="c-introduction">
      <%= link_to root_path do %>
        <h1 class="c-ettui-logo">ettúi</h1>
      <% end %>
      <h2 class="c-introduction__title--section">Installing your bookmarklet.</h2>
       <!--

        Segment navigation controller

      !-->
      <div class="c-segment_controller">
        <ol class="c-segment_controller__list">
          <li class="c-segment_controller__option subtitle--all-caps is-active" data-target="js-section--desktop">Computer</li><li class="c-segment_controller__option subtitle--all-caps" data-target="js-section--mobile">Phone/Tablet</li>
        </ol>
      </div>
      <!--

        Desktop

      !-->
      <div class="c-introduction__section js-section--desktop">
        <ul class="c-introduction__step_list">
          <li>
            <p class="c-introduction__step_title subtitle--all-caps">1</p>
            Drag the button below to your bookmarks bar.
          </li>
        </ul>
        <% if Rails.env.development? %>
          <a class="c-introduction__bookmarklet subtitle--all-caps" href="javascript:(function() {
          document.body.appendChild(document.createElement('script')).src='http://localhost:3000/bookmarklet_local.js';
          current_user_token = '<%= current_user.token %>';
          })();">Ettúi Bookmarklet</a>
        <% elsif Rails.env.production? %>
          <a class="c-introduction__bookmarklet subtitle--all-caps" href="javascript:(function() {
          document.body.appendChild(document.createElement('script')).src='https://notedapp.herokuapp.com/bookmarklet.js';
          current_user_token = '<%= current_user.token %>';
          })();">Ettúi Bookmarklet</a>
        <% end %>
         <p class="c-introduction__description">The bookmarks bar is located below the address bar.</p>
         <%= link_to introduction_finish_path, class: "c-button c-button--primary" do %>
          <h3 class="subtitle--all-caps">Continue to my board</h3>
         <% end %>
      </div>
      <!--

        Mobile

      !-->
      <div class="c-introduction__section js-section--mobile">
        <ul class="c-introduction__step_list">
          <li>
            <p class="c-introduction__step_title subtitle--all-caps">1</p>
            Create a new bookmark and give it a name, i.e. Save to Ettúi.
          </li><li>
            <p class="c-introduction__step_title subtitle--all-caps">2</p>
              Copy the javascript snippet below using 'Select All' or something similar.
              <div class="c-introduction__bookmarklet c-introduction__bookmarklet--mobile">
                <code>
                  javascript:(function() {
                  document.body.appendChild(document.createElement('script')).src='https://notedapp.herokuapp.com/bookmarklet.js';
                  current_user_token = '<%= current_user.token %>';
                  })();
                </code>
              </div>
          </li><li>
            <p class="c-introduction__step_title subtitle--all-caps">3</p>
            Now choose to Edit the bookmark you just created and paste the javascript snippet.
          </li>
        </ul>
        <%= link_to introduction_finish_path, class: "c-button c-button--primary" do %>
          <h3 class="subtitle--all-caps">Continue to my board</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
