<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Electronic mail address" %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password", :class => 'sec' %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Password confirmation", :class => 'thi' %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
