<h2>SIGNING UP</h2>
<div id="twitter-login">
  <%= image_tag "twitter-bird.png" %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
</div>

<em>or fill in the form below</em>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Electronic mail address" %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password" %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="actions mtop">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
