<h1 class="bold">Sign up here</h1>
<%= image_tag "cloud.png", :class =>" float" %>
<p>Start saving quotes from anywhere.</p>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Electronic mail address" %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password" %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %>
    <p class="validation"><%= @user.errors[:email].first %></p>
  </div>
  <div class="actions mtop">
    <%= f.submit "" %>
    <div class="sidenote">
      <p>Have an account?</p> 
      <%= link_to "Login here", login_path %>
    </div>
  </div>

<% end %>
