<%= form_for(@user) do |f| %>
  <h1 class="underline">Sign up here</h1>

  <div class="field">
    <%= f.text_field :email, :placeholder => "Electronic mail address" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up." %>
    <h3>or <%= link_to "login", login_path %></h3>
  </div>
  <p>We have this dreadful
  sign up to allow us to help you keep track of
  what's yours around here!</p>
<% end %>
