<div class="c-modal__window">
  <div class="modal__content">
    <%= link_to "ettúi", '/', :class => "c-ettui-logo" %>
    <h1>
      You're one step away<br/>from your personal archive.
    </h1>
    <%= render "form" %>
    <p class="secondary">
      By signing up you agree to the<br/>
      <%= link_to "Privacy Policy", "#!" %> and
      <%= link_to "Terms of Service", "#!" %>
    </p>
    <p>
      Already have an account?
      <%= link_to "Log in", login_path %>
    </p>
  </div>
</div>
