<% if flash[:notice] %>
  <div class="c-status_message success"><%= flash[:notice] %></div>
<% end %>
<div class="o-overlay t-theme2">
  <div class="c-modal__window">
    <div class="modal__content">
      <%= link_to "ettúi", :back, class: "c-ettui-logo" %>
      <h1>
        Make the demo yours.
      </h1>
      <p>
        In order to connect this account with you, we need your e-mail address. It is only used to manage your account.
      </p>
      <div class="profile-details naked">
        <%= form_for @user do |f| %>
         <%= f.text_field :email, :placeholder => "Your e-mail address" %>
         <%= f.submit "Confirm account", :class => "button" %>
        <% end %>
        <p>
          After this you'll be able to set a password.  
        </p>
      </div>
    </div>
  </div>
</div>
