<%= render "shared/header" %>
<div class="background intro login-signup-container">
    <div class="row login-signup">
      <div class="col span_14">
        <h1>Hello <%= current_user.name || current_user.email %>.</h1>
        <h2>Let's get you started.</h2>
      </div>
      <div class="login-signup-container">
        <div class="col input-container">
          <h3>First install your bookmarklet</h3>
          <p>Drag the bookmarklet button below into your bookmarks bar above.</p>
          <a class="button bookmarklet" href='javascript:(function(){
                  well = function() {
                    log = true;

                    if(log) console.log("r: Try section");
                    try {
                      if(!document.body)
                        throw(0);

                      if(document.getSelection().toString() === "") {
                        alert("Empty selection.");
                        throw(0);
                      } else {
                        
                        text      = encodeURIComponent(document.getSelection().toString());
                        url       = encodeURIComponent(document.location.href.toString());
                        token     = "<%= current_user.token %>";
                        rel       = "icon";
                        fi        = function() {
                                    if(document.querySelectorAll("link[rel~=" +rel +"]").length > 0)
                                      return encodeURIComponent(document.querySelectorAll("link[rel~=" +rel +"]")[0].href);
                                    else
                                      return encodeURIComponent("http://" +document.location.hostname +"/favicon.ico");
                                  };

                        query     = "//notedapp.herokuapp.com/quotes/add?user_token=" +token +"&text=";

                        script    = document.createElement("script");
                        script.src  = query + text + "&url=" + url + "&favicon=" + fi() + "&callback=status";
                      }

                      /* TAKES CARE OF JSONP RESPONSE */
                      jsonp = document.createElement("script");
                      jsonp.setAttribute("type", "text/javascript");

                      callback = "function status(data) {
                        if(data && data.message) {
                          headline.innerText = data.message;
                          popup.innerHTML = headline.outerHTML;
                          counter = 0;
                          interval = setInterval(function() {
                            counter += 25;
                            wait = 350;
                            if(counter > wait) {
                              value = counter - wait;
                              popup.style.opacity = popup.style.opacity - (value/1000);
                              document.body.removeChild(popup);
                              document.body.appendChild(popup);
                              if(counter === 1500) {
                                clearInterval(interval);
                                counter = 0;
                                document.body.removeChild(popup);
                              }
                            }
                          }, 50);
                        }
                      }";

                      jsonp.innerHTML = callback;
                      document.body.appendChild(jsonp);
                      
                      /* CREATES POPUP */
                      headline = document.createElement("h1");
                      headline.id = "well-title";
                      headline.style.textAlign = "center";
                      headline.style.fontSize = "1em";
                      headline.innerText = "Saving..";

                      popup = document.createElement("div");
                      popup.style.width = "175px";
                      popup.style.padding = "25px";
                      popup.style.backgroundColor = "#fff";
                      popup.style.zIndex = "20000";
                      popup.style.position = "fixed";
                      popup.style.top = "0";
                      popup.style.opacity = "1";
                      popup.innerHTML = headline.outerHTML;
                      document.body.appendChild(popup);

                      /* EXECUTE SCRIPT */
                      document.body.appendChild(script);

                    } catch(e) {
                      alert("Please wait until the page has loaded.");
                    }
                  };

                  if(/Firefox/.test(navigator.userAgent)) {
                    setTimeout(well,0);
                  } else {
                    well();
                  }})()'>
                  NOTED BOOKMARKLET</a>
        </div>
        <div class="col span_1">
          <div class="vertical-line">&nbsp;</div>
        </div>
        <div class="col input-container">
          <h3>Give it a try</h3>
          <p>Highlight the quote below then click on your bookmarklet to try it out.</p>
          <blockquote>
            Perfection is unattainable, in fact, so is the notion that we’ve ever “arrived” in anything. If that is the standard, you’ll get frustrated, doubt yourself and quit.
          </blockquote>
        </div>
        <div class="col span_1">
          <div class="vertical-line">&nbsp;</div>
        </div>
        <div class="col input-container">
          <h3>You're good to go</h3>
          <%= link_to continue_path, class: "primary button" do %>
            CONTINUE TO MY DASHBOARD
          <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>