<% if !current_user %>
	<!-- Render sign up form !-->
<% else %>
	<!-- Render welcome {user} !-->
<% end %>
<!--
<nav>
	<div>
		<%= link_to (image_tag "logo.png"), '/' %>
		<h3 id="logo">WRTTN</h3>
	 	<% if current_user %>
			 <%= link_to "Hello " << (@user.email || @user.name) << ",", quotes_path %>
			 <%= link_to "Logout?", logout_path, :class => "logout" %>
	 	<% else %>
	 		<%= link_to "Login", login_path %>
			<p style="display: inline;"> / </p>
			<%= link_to "with Twitter", "/auth/twitter" %>
	 	<% end %>
	</div>
</nav>
!-->
<h3 class="title">noted</h1>
<h1>Remember what you read</h1>
<h2><em>noted</em> is a tool for collecting and organizing reads worth saving.</h2>

<div id="signup">
	<%= link_to "Sign up with Twitter", "/auth/twitter", :class => "button twitter" %>
	<%= link_to "Sign up with your e-mail", "#!", :class => "button toggle-form" %>
	<%= render 'form' %>
</div>

<h3>After signing up <em>noted</em> will create your bookmarklet.</h3>

<a href="#!" class="button bookmark">My noted bookmarklet</a>
<h2><em class="grey">Drag and drop it on your Bookmarks bar.</em></h2>