
<% if !current_user %>
	<!-- Render sign up form !-->
<% else %>
	<!-- Render welcome {user} !-->
<% end %>

<nav>
	<div>
		<%= link_to (image_tag "logo.png"), '/' %>
		<h3 id="logo">WRTTN</h3>
	 	<% if current_user %>
			 <%= link_to "Hello " << (@user.email || @user.name) << ",", quotes_path %>
			 <%= link_to "Logout?", logout_path, :class => "logout" %>
	 	<% else %>
	 		<%= link_to "Login", login_path %>
			<p style="display: inline;"> / </p>
			<%= link_to "with Twitter", "/auth/twitter" %>
	 	<% end %>
	</div>
</nav>
<header>
	<h1>Welcome to a bookmarklet that helps collect, store and share memorable reads.</h1>
</header>

<div id="gridset-wrapper">
	<div class="d1" id="demo">
		<h2>DEMO</h2>
		<p class="inline">WRTTN detects highlighted text and captures it, so try and highlight the quote below and press Well Said. That's how Well Said works.</p>
		<p class="example">
			The best index to a person's character is how he treats people who can't do him any good, and how he treats people who can't fight back. <br/>- Abigail Van Buren
		</p>
		<a href="#" onclick="">
			<div id="wellsaid-btn">Well Said</div>
		</a>
	</div>
	<div class="d2" id="signup">
		<%= render 'form' %>
	</div>
</div>