<div class="splash-container">
  <%= render "shared/header" %>
  <div class="login-signup-container">
          <h1>Sign up and get started.</h1>
        </div>
        <div class="twitter-container">
          <%= link_to "/auth/twitter?image_size=original", class: "twitter small button" do %>
            <span class="socicon">a</span>Sign up using Twitter
          <% end %>
        </div>
        <div class="email-container">
          <%= render "form" %>
        </div>
        <div class="inline link">
            <p>Have an account?</p><%= link_to " Sign in", login_path %>
        </div>
      </div>
  </div>
</div>
<%= render "shared/footer" %>