<% if flash[:notice] %>
  <div class="c-status_message"><%= flash[:notice] %></div>
<% end %>
<div class="o-overlay t-theme2">
  <div class="c-modal__window">
    <div class="modal__content">
      <%= link_to "ettúi", '/', class: "c-ettui-logo" %>
      <h1>
        Set a new password.
      </h1>
      <p>
        Instructions are e-mailed to you instantly<br/> and remain valid for an hour.
      </p>
      <%= form_tag(send_password_reset_path, method: :post, class: "user-form") do -%>
        <div class="last field">
          <%= email_field_tag 'email', nil, :placeholder => "mail@example.com" %>
        </div>
        <div class="actions">
          <%= submit_tag "Reset password", class: "stay button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
