<div class="c-status_message"><%= "Set a new password for #{@user.email}" %></div>
<div class="o-overlay t-theme2">
  <div class="c-modal__window">
    <div class="modal__content">
      <%= link_to "ettúi", '/', class: "c-ettui-logo" %>
      <h1>
        Enter a new password.
      </h1>
      <%= form_tag(update_password_path(@user.id), method: :put, class: "user-form") do -%>
        <div class="last field">
          <%= password_field_tag 'password', nil, :style => "border: solid 1px;" %>
        </div>
        <div class="actions">
          <%= submit_tag "Update password", class: "stay button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
