<% if flash[:notice] %>
  <div class="c-status_message green"><%= flash[:notice] %></div>
<% end %>
<div class="o-content_container t-theme2">
  <div class="o-title_container">
    <h1 class="o-content_container__title">
      <%= link_to "« BACK TO QUOTES", board_path(@user.board), :class => "subtitle subtitle--all-caps signature-color" %>
    </h1>
    <div class="o-quotes_container">
      <div class="profile-section profile-data profile-container">
        <img src="<%= @user.twitter_image_url %>"/>
        <h1><%= @user.name_or_email %></h1>
        <p><%= @user.twitter_description || "No description" %></p>
      </div>
      <div class="profile-section profile-details">
        <%= form_for @user do |f| %>
         <%= f.label :email, "Your e-mail", :class => "subtitle subtitle--all-caps" %>
         <%= f.text_field :email, :placeholder => "No e-mail set" %>
         <%= f.label :name, "Your name", :class => "subtitle subtitle--all-caps" %>
         <%= f.text_field :name %>
         <%= f.label :twitter_description, "Description", :class => "subtitle subtitle--all-caps" %>
         <%= f.text_area :twitter_description %>
         <%= f.label :twitter_image_url, "Profile image", :class => "subtitle subtitle--all-caps" %>
         <%= f.text_field :twitter_image_url %>
         <%= f.submit "Update details", :class => "c-button subtitle subtitle--all-caps" %>
        <% end %>
      </div>
      <div class="profile-section profile-bookmarklet">
        <h2 class="section-title subtitle subtitle--all-caps">Your bookmarklet</h2>
        <p>
          If you need to re-install your bookmarklet, please refer to<br/>Ettúi's <%= link_to "installation instructions", introduction_path %>.
        </p>
      </div>
      <div class="profile-section profile-bookmarklet">
        <h2 class="section-title subtitle subtitle--all-caps">Reset password</h2>
        <p>
          Click the link below to request a new password for your account.
        </p>
        <%= link_to "Request a password reset", request_password_reset_path, :class => "c-button subtitle subtitle--all-caps" %>
      </div>
      <!-- <div class="profile-section profile-data profile-infographics">
        <div class="graph">
          <p class="subtitle subtitle--all-caps">Quotes</p>
          <h1><%= @user.quote_count %></h1>
        </div>
        <div class="graph">
          <p class="subtitle subtitle--all-caps">Sites</p>
          <h1><%= @user.source_count %></h1>
        </div>
        <div class="graph">
          <p class="subtitle subtitle--all-caps">Tags</p>
          <h1><%= @user.tag_count %></h1>
        </div>
      </div> -->
    </div>
  </div>
</div>