<div class="header-element sidebar">
  <%= left_header_element %>
</div>
<div class="header-element center transparent">
  <h4 class="header-title"><%= @right_title %></h4>
</div>
<div class="quotes-container">
    <div class="profile-data profile-container">
      <img src="<%= @user.twitter_image_url %>"/>
      <h1><%= @user.name_or_email %></h1>
      <p><%= @user.twitter_description || "No description" %></p>
    </div>
    <div class="profile-data profile-infographics">
      <div class="graph">
        <h3>Quotes</h3>
        <%= @user.quote_count %>
      </div>
      <div class="graph">
        <h3>Sites</h3>
        <%= @user.source_count %>
      </div>
      <div class="graph">
        <h3>Tags</h3>
        <%= @user.tag_count %>
      </div>
    </div>
    <div class="profile-data links">
      <%= link_to "Sign out", logout_path %>
      <%= link_to "Boomarklet", bookmarklet_path %>
      <%= link_to "Update Twitter data", omniauth_update_path %>
    </div>
</div>