<div class="t-theme2">
  <%= render "header" %>
  <div class="c-landing_page o-full_screen o-full_screen--centered u-clearfix">
    <div class="o-half_screen">
      <h1 class="c-landing_page__title">
         You should always have the great things you’ve read with you.
      </h1>
      <p class="c-landing_page__text">    
        That is why we designed a service to easily save & catalogue those gems, so that they’re accessible from anywhere—at any time.
      </p>
      <%= link_to "Try our demo", demo_path, :class => "c-button c-button--secondary" %>
      <%= link_to "Create an account", signup_path, :class => "c-button c-button--primary" %>
    </div>
    <div class="o-half_screen u-text-align-center">
      <div class="md-device-preview">
        <div class="md-ipad md-white-device">
          <div class="md-body">
            <div class="md-front-camera"></div>
            <div class="md-screen">
              <iframe src="http://localhost:3000/boards/demo" width="768" height="1024"></iframe>
            </div>
            <button class="md-home-button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <footer class="c-landing_page__footer">
    <p class="c-landing_page__footer_title">Copyright(C) 2015 Henrik Wiberg, Hannes Gustafsson</p>
  </footer> -->
  <% if current_user %>
    <div class="c-test_data">
        <h6><%= current_user.name %></h6>
        <%= link_to "Logout", logout_path %>
    </div>
  <% end %>
</div>
