<div class="header-element sidebar">
    <% if params[:controller].eql?("users") %>
        <%= link_to @left_title, board_path(current_user.board)
    <% else %>
        <%=  content_tag :h4, @left_title, class: "header-title" %>
    <% end %>
</div>
<div class="header-element quotes">
    <h2 class="header-title"><%= @right_title %></h2>
</div>
<div class="header-element profile">
    <%= image_tag @board.users.first.twitter_image_url %>
    <%= link_to (@board.users.first.name || @board.users.first.email), @board.users.first %>
</div>
