<div class="sidebar-container list">
    <div class="sidebar-content">
        <div class="search-field-container">
          <%= form_for @search, url: filter_board_quotes_path(@board), method: :get do |f| %>
          <% @search.tag_ids.each do |id|%>
            <%= hidden_field_tag "search[tag_ids][]", id %>
          <% end %>
          <% @search.source_ids.each do |id|%>
            <%= hidden_field_tag "search[source_ids][]", id %>
          <% end %>
            <%= evil_icon 'ei-search', size: :s %>
            <%= f.text_field :query, :placeholder => "Type to search", :class => "search-field" %>
            <%= f.submit "Search", :class => 'submit' %>
          <% end %>
        </div>
        <!-- SOURCES FILTER !-->
        <div class="sidebar-list-container">
          <ol class="status">
            <% if @unread.count > 0 %>
              <li class="sidebar-list-item">
            <% else %>
              <li class="sidebar-list-item disabled">
            <% end %>
              <%= check_box_tag "unread", true, false, :id => "filter-unread" %>
              <button class="section-title">
                Unread quotes
              </button>
              <p class="filter-count"><%= @unread.count %></p>
            </li>
          </ol>
        </div>
        <div class="sidebar-list-container sources">
          <div class="sidebar-section-title">
              <h4 class="section-title">Sites</h4>
              <%= evil_icon 'ei-chevron-down', size: :s %>
          </div>
          <ol class="filters">
	           <% @sources.each do |source| %>
	                <%= render :partial => 'shared/source', locals: { source: source } %>
	           <% end %>
	        </ol>
        </div>
        
        <!-- TAGS FILTER !-->
        <div class="sidebar-list-container tags">
          <div class="sidebar-section-title">
              <h4 class="section-title">Tags</h4>
              <%= evil_icon 'ei-chevron-down', size: :s %>
              </svg>
          </div>
          <ol class="tags">
          <% @board.tags.uniq.each do |tag| %>
              <%= render :partial => 'shared/tag', locals: { tag: tag } %>
          <% end %>
          </ol>
        </div>
        <div class="sidebar-list-container links">
          <a href="/" class="noted-logo">Noted</a>
        </div>
    </div><!-- .sidebar-content !-->
</div><!-- .sidebar-container !-->