<div class="sidebar-container list">
    <div class="header-container">
      <div class="sidebar-content">
        <%= evil_icon 'ei-navicon', size: :s %>
      </div>
      <div class="search-field-container">
        <%= evil_icon 'ei-search', size: :s %>
        <%= text_field_tag :search, params[:search], :placeholder => "Type to search", :class => "search-field" %>
        <%= submit_tag "Search", :name => nil, :class => 'submit' %>
      </div>
    </div>
    <div class="sidebar-content">
        <!-- SOURCES FILTER !-->
        <div class="sidebar-list-container">
          <ol class="sidebar-list status">
            <% if @unread.count > 0 %>
              <li class="sidebar-list-item">
            <% else %>
              <li class="sidebar-list-item disabled">
            <% end %>
              <%= check_box_tag "unread", true, false, :id => "filter-unread" %>
              <button class="section-title">
                <h4>Unread quotes</h4>
              </button>
              <div class="filter-count"><p><%= @unread.count %></p></div>
            </li>
          </ol>
        </div>
        <div class="sidebar-list-container sources">
          <div class="sidebar-section-title">
              <h4 class="section-title">Sites</h4>
              <%= evil_icon 'ei-chevron-down', size: :s %>
          </div>
          <ol class="sidebar-list filters">
	           <% @sources.each do |source| %>
	                <%= render :partial => 'shared/source', locals: { source: source } %>
	           <% end %>
	        </ol>
        </div>
        
        <!-- TAGS FILTER !-->
        <div class="sidebar-list-container tags">
            <div class="sidebar-section-title">
                <h4 class="section-title">Tags</h4>
                <%= evil_icon 'ei-chevron-down', size: :s %>
                </svg>
            </div>
            <ol class="sidebar-list tags">
            <% @board.owned_tags.each do |tag| %>
                <%= render :partial => 'shared/tag', locals: { tag: tag } %>
            <% end %>
          </ol>
        </div>
    </div><!-- .sidebar-content !-->
    <div class="sidebar-content-fixed">
      <a href="/" class="noted-logo stay"></a>
      <%= link_to "Logout", logout_path, :class => "stay" %>
      <%= link_to "Bookmarklet", bookmarklet_path, :class => "stay" %>
    </div>
</div><!-- .sidebar-container !-->