<div class="c-sidebar_container">
    <div class="c-sidebar_container__header">
        <h4>Search</h4>
    </div>
    <%= render :partial => "sidebar_search_field" %>

    <!-- SOURCES !-->
    <div class="c-sidebar_container__header js-toggle-sidebar">
        <h4>Filter by sites</h4>
        <%= fa_icon 'angle-down' %>
    </div>
    <%= render :partial => "sidebar_filter_list",
        locals: {
            filters: @sources
        }
    %>

    <!-- TAGS !-->
    <div class="c-sidebar_container__header js-toggle-sidebar">
        <h4>Filter by tags</h4>
        <%= fa_icon 'angle-down' %>
    </div>
    <%= render :partial => "sidebar_filter_list",
        locals: {
            filters: @board.unique_tags,
        }
    %>

    <div class="c-sidebar_container__header js-toggle-sidebar">
        <h4>Signed in as</h4>
        <%= fa_icon 'angle-down' %>
    </div>
    <div class="c-sidebar_container__row">
        <% if current_user %>
            <%= link_to image_tag(current_user.twitter_image_url), filter_board_quotes_path(current_user.boards.first), :class => "c-profile_image" %>
            <%= link_to "Logout", logout_path, :class => "c-button c-button--small" %>
        <% end %>
        <%= link_to "ettúi", root_url, :class => "c-ettui-logo" %>
    </div>
</div>
