<div class="c-sidebar_container">
    <div class="c-sidebar_container__header">
        <h4>Search</h4>
    </div>
    <%= render :partial => "sidebar_search_field" %>
    
    <!-- SOURCES !-->
    <div class="c-sidebar_container__header js-toggle-sidebar">
        <h4>Filter by sites</h4>
        <%= fa_icon 'angle-down' %>
    </div>
    <%= render :partial => "sidebar_filter_list",
        locals: {
            filters: @sources
        }
    %>

    <!-- TAGS !-->
    <div class="c-sidebar_container__header js-toggle-sidebar">
        <h4>Filter by tags</h4>
        <%= fa_icon 'angle-down' %>
    </div>
    <%= render :partial => "sidebar_filter_list",
        locals: {
            filters: @board.unique_tags,
        }
    %>
    
    <!-- PROFILE !-->
    <!--<div class="header-element profile">
    <%= image_tag @board.users.first.twitter_image_url, :class => "profile-image" %>
    <%= link_to (@board.users.first.name || @board.users.first.email), @board.users.first %>
    </div>!-->
</div>
