<% if current_user.new_user %>
    <%= render "intro", current_user: current_user %>
    <div class="boards-wrapper blurred">
<% else %>
    <div class="boards-wrapper">
<% end %> 
    <%= form_tag board_path(@board.id), :method => 'get', :remote => true, :id => "search-filter" do %>



        <!--    
        ############

        SIDEBAR

        ############
        !-->
  	    <div class="sidebar-container">
            <div class="sidebar-content">
                <button class="menu-icon"></button>
                <div class="filters-container">
          	        <h4 class="filters-title">Filters</h4>
                    <ol class="filters-list">
          	           <% @sources.each do |source| %>
          	                <%= render :partial => 'source', locals: { source: source } %>
          	           <% end %>
          	        </ol>
                </div>

                <!--    
                USER DETAILS
                                      
                <% if !current_user_details.nil? %>
                    <%= render "current_user_details" %>
                <% end %>
                !-->
            </div>
  	    </div>



        <!--    
        ############

        CONTENT W/ QUOTES

        ############
        !-->
        <div class="content-container">
            <!-- 
                    SEARCH
                                !-->
            <div class="quote-options">
              <div class="search-container">
                  <%= image_tag "search-white.png" %>
                  <%= text_field_tag :search, params[:search], :placeholder => "What are you looking for…?", :class => "search" %>
                  <%= submit_tag "Search", :name => nil, :class => 'submit' %>
              </div>
            </div>



            <!-- 
                    QUOTES
                                !-->
            <ol class="quotes-container">
              <% if !@quotes.nil? %>
                  <% @quotes.each do |quote| %>
                      <%= render :partial => 'quotes/quote', locals: { quote: quote } %>
                  <% end %>
              <% end %>
            </ol>
        </div>

    <% end %>
  </div>








<!--
          <ul class="header-boards-navigation">
            <% @user.boards.each do |board| %>
              <%= render "board_link", active_board: @board, this_board: board %> 
            <% end %>
            <!--
            <a href="#!" onclick="toggle_new_board()"><li class="add-board">Create a new board</li></a>

            <% form_tag boards_path do %>
              <%= text_field_tag :name, params[:name], :placeholder => "Name your board.." %>
              <%= submit_tag %>
            <% end %>
          </ul>
          !-->