
  <div class="boards-wrapper">
    <%= form_tag board_path(@board.id), :method => 'get', :remote => true, :id => "search-filter" do %>



        <!--    
        ############

        SIDEBAR

        ############
        !-->
  	    <div class="sidebar-container">
            <div class="sidebar-content">
                <div class="filters-container">
          	        <h4 class="filters-title sidebar-padding">Filters</h4>
                    <ol class="filters-list">
          	           <% @sources.each do |source| %>
          	                <%= render :partial => 'source', locals: { source: source } %>
          	           <% end %>
          	        </ol>
                </div>
                <div class="bottom-fix">
                    <div class="sidebar-profile">
                        <div class="sidebar-padding">
                            <% if current_user_details %>
                                <%= image_tag current_user_details.profile_image_url, :class => "profile-photo" %>
                                <%= link_to current_user_details.name, current_user, :class => "profile-name" %></h2>
                                
                                <p class="profile-description"><%= current_user_details.description %></p>
                            <% end %>
                            <a href="/logout" class="profile-link">Logout </a>
                            <p class="inline"> – </p>
                            <a class="profile-link" href="javascript:(function() {
                                document.body.appendChild(document.createElement('script')).src='http://localhost:3000/bookmarklet.js';
                                current_user_token = '<%= current_user.token %>';
                              })();"> Your bookmarklet</a>
                        </div>
                    </div>
                    <a href="/">
                      <div class="sidebar-logo">
                          <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In  -->
                          <svg version="1.1"
                               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                               x="0px" y="0px" width="98px" height="30.787px" viewBox="0 0 98 30.787" enable-background="new 0 0 98 30.787"
                               xml:space="preserve">
                          <defs>
                          </defs>
                          <g>
                              <path fill="#1C1A12" d="M34.585,10.889c-1.732,0-3.325,0.351-4.77,1.235l0.019-0.026c-0.049,0.032-0.092,0.065-0.141,0.097
                                  c-0.139,0.088-0.275,0.186-0.411,0.284c-4.147,2.933-4.981,6.404-6.554,9.676c-0.593,1.234-1.063,2.205-2.041,3.649
                                  c-0.542,0.8-2.131,2.067-2.679,2.067c-0.364,0-0.592-0.227-0.592-0.774c0-0.546,0.364-1.548,1.458-4.644
                                  c2.004-5.6,2.64-7.513,2.64-8.514c0-1.275-0.956-3.051-2.914-3.051c-4.508,0-8.287,6.01-9.653,8.015l-0.41-0.32
                                  c1.23-2.823,2.186-5.282,2.186-5.919c0-0.729-0.456-1.776-1.822-1.776c-4.735,0-7.604,3.688-8.287,4.599
                                  C0.48,15.67,0.48,15.807,0.662,15.943l0.454,0.501c0.138,0.137,0.32,0.091,0.456-0.046c0.592-0.683,2.368-2.458,3.05-2.458
                                  c0.364,0,0.592,0.273,0.592,0.728c0,0.547-1.002,3.552-2.048,6.42l-3.142,8.64c-0.092,0.274,0.09,0.4,0.41,0.4h3.87
                                  c0.5,0,0.592,0.01,0.682-0.172l1.776-5.049c0.274-0.774,1.23-2.205,2.232-3.799c1.82-2.96,5.19-6.59,6.238-6.59
                                  c0.546,0,0.91,0.279,0.91,1.008c0,0.82-1.092,3.874-1.822,5.968c-1.411,4.008-2.368,6.741-2.368,7.56
                                  c0,0.912,0.456,1.731,1.822,1.731c4.326,0,6.92-2.782,7.65-3.96c1.859-3.002,2.45-4.949,4.06-8.97l0.033-0.043
                                  c-0.71,1.915-1.041,3.979-1.041,6.008c0,5.146,3.37,6.966,6.01,6.966c2.914,0,4.918-0.728,6.694-2.64
                                  c2.868-3.05,3.824-7.877,3.824-10.564C41.005,12.027,37.043,10.889,34.585,10.889z M34.539,23.639
                                  c-1.866,3.552-3.324,4.508-4.69,4.508c-1.046,0-1.593-1.092-1.593-2.004c0-1.866,0.728-4.644,2.276-7.376
                                  c2.048-3.688,3.369-5.282,5.1-5.282c1.228,0,1.684,0.866,1.684,1.958C37.317,17.127,35.951,20.998,34.539,23.639z"/>
                              <path fill="#1C1A12" d="M97.926,0.751c0.182-0.501,0.046-0.622-0.592-0.622h-7.649c-0.638,0-0.73-0.243-0.774-0.061l-0.183,0.894
                                  c-0.044,0.137,0,0.166,0.365,0.166h1.32c1.184,0,1.548,0.897,1.274,1.853l-2.55,9.372c-0.819-0.956-2.185-1.461-3.46-1.461
                                  c-1.105,0-2.125,0.296-3.045,0.733l0.022-0.02c-0.038,0.018-0.073,0.037-0.11,0.056c-0.049,0.024-0.096,0.049-0.144,0.073
                                  c-4.573,2.279-7.428,5.848-13.344,13.68c-0.932,1.234-2.686,2.368-4.918,2.368c-1.548,0-2.458-1.366-2.458-2.96
                                  c0-1.274,0.182-2.458,0.364-2.868c1.73-0.136,4.188-0.592,6.693-2.004c2.642-1.502,4.144-3.369,4.144-5.919
                                  c0-1.73-1.046-3.142-3.552-3.142c-2.686,0-5.372,1.275-7.603,3.187c-1.432,1.207-2.525,2.593-3.359,4.025l0.029-0.078
                                  c-0.046,0.089-0.117,0.205-0.174,0.307c-0.011,0.02-0.023,0.04-0.034,0.06c-0.963,1.684-3.31,4.894-5.16,6.934
                                  c-0.975,1.075-3.006,2.23-3.87,2.23c-0.638,0-1.002-0.41-1.002-0.864c0-0.548,0.41-1.751,0.636-2.479l3.734-10.083h4.598
                                  c0.32,0,0.502-0.071,0.592-0.344l0.32-1.215c0.09-0.273,0-0.441-0.228-0.441h-4.598l2.914-6.448
                                  c0.136-0.319-0.046-0.787-0.364-0.787c-0.228,0-0.502,0.152-0.73,0.289c-0.41,0.273-2.822,1.419-4.006,1.51
                                  c-1.184,0.046-1.366,0.123-1.548,0.578l-1.502,4.858h-3.78c-0.274,0-0.41,0.154-0.5,0.382l-0.274,1.151
                                  c-0.09,0.273,0,0.467,0.274,0.467h3.551L43.102,26.26c-0.364,0.912-0.502,1.946-0.502,2.856c0,0.682,0.774,1.655,2.368,1.655
                                  c4.644,0,7.671-2.7,9.066-4.538c1.463-1.928,1.847-2.704,2.672-4.083c-0.324,1.261-0.49,2.475-0.49,3.536
                                  c0,3.232,2.23,5.1,5.327,5.1c4.329,0,7.175-2.158,8.698-4.552c2.988-4.697,4.816-6.951,6.41-8.805
                                  c-2.154,3.366-3.13,6.852-3.13,9.078c0,1.822,1.32,4.28,3.596,4.28c3.552,0,6.374-4.188,8.56-7.74l0.546,0.274
                                  c-0.864,2.504-1.638,4.918-1.638,6.101c0,0.82,0.592,1.366,1.73,1.366c4.508,0,7.33-3.642,7.65-4.052
                                  c0.136-0.182,0.09-0.364,0-0.454l-0.548-0.548c-0.136-0.136-0.272-0.136-0.454,0.046c-0.274,0.274-2.004,2.232-2.642,2.232
                                  c-0.592,0-0.592-0.517-0.318-1.791C90.641,23.396,97.334,2.345,97.926,0.751z M66.781,13.166c1.046,0,1.228,0.819,1.228,1.548
                                  c0,1.502-0.728,3.05-1.456,3.734c-1.322,1.274-3.37,1.866-4.144,1.822C63.093,17.31,65.049,13.166,66.781,13.166z M84.767,22.273
                                  c-1.684,2.414-3.642,5.282-4.554,5.282c-0.636,0-1.092-0.5-1.092-1.594c0-3.46,3.824-13.432,6.238-13.432
                                  c1.548,0,2.276,1.321,2.276,3.005C87.635,17.31,86.041,20.497,84.767,22.273z"/>
                          </g>
                          </svg>
                      </div>
                    </a>
                </div>
            </div>
  	    </div>



        <!--    
        ############

        CONTENT W/ QUOTES

        ############
        !-->
        <div class="content-container">
            <!-- 
                    SEARCH
                                !-->
            <div class="quote-search">
              <div class="search-container">
                  <%= image_tag "search-white.png", :class => "content-padding" %>
                  <%= text_field_tag :search, params[:search], :placeholder => "What are you looking for…?", :class => "search" %>
                  <%= submit_tag "Search", :name => nil, :class => 'submit' %>
              </div>
            </div>



            <!-- 
                    QUOTES
                                !-->
            <ol class="quotes-container">
              <% if !@quotes.nil? %>
                  <% @quotes.each do |quote| %>
                      <%= render :partial => 'quotes/quote', locals: { quote: quote } %>
                  <% end %>
              <% end %>
            </ol>
        </div>

    <% end %>
  </div>








<!--
          <ul class="header-boards-navigation">
            <% @user.boards.each do |board| %>
              <%= render "board_link", active_board: @board, this_board: board %> 
            <% end %>
            <!--
            <a href="#!" onclick="toggle_new_board()"><li class="add-board">Create a new board</li></a>

            <% form_tag boards_path do %>
              <%= text_field_tag :name, params[:name], :placeholder => "Name your board.." %>
              <%= submit_tag %>
            <% end %>
          </ul>
          !-->