<% if current_user.new_user %>
    <%= render "intro", current_user: current_user %>
    <div class="boards-wrapper blurred">
<% else %>
    <div class="boards-wrapper">
<% end %>
<%= form_tag board_path(@board.id), :method => 'get', :remote => true, :id => "search-filter" do %>
  	    <div class="sidebar-container">
            <li class="header-logo">
              <h1>Noted</h1>
            </li>
  	        <h2 class="filters-title">Filters</h2>
  	        <!--<button class="filters-reset" type="reset">Reset</button>!-->
  	        <ol class="filters-list">
  	           <% @sources.each do |source| %>
  	                <%= render :partial => 'source', locals: { source: source } %>
  	           <% end %>
  	        </ol>
            <% if !current_user_details.nil? %>
                <%= render "current_user_details" %>
            <% end %>
  	    </div>
        <div class="header">
          <ul class="header-boards-navigation">
            <% @user.boards.each do |board| %>
              <%= render "board_link", active_board: @board, this_board: board %> 
            <% end %>
            <!--
            <a href="#!" onclick="toggle_new_board()"><li class="add-board">Create a new board</li></a>

            <% form_tag boards_path do %>
              <%= text_field_tag :name, params[:name], :placeholder => "Name your board.." %>
              <%= submit_tag %>
            <% end %>
            !-->
          </ul>
        </div>
        <% if @board.quotes.count > 1 %>
    	    <div class="search-container">
    	        <%= image_tag "search.png" %>
    	        <%= text_field_tag :search, params[:search], :placeholder => "Search within #{@board.name.downcase}?", :class => "search" %>
    	        <%= submit_tag "Search", :name => nil, :class => 'submit' %>
    	     </div>
    	   <% end %>
          <ol class="quotes-container js-masonry">
                <% if !@quotes.nil? %>
                     <% @quotes.each do |quote| %>
                          <%= render :partial => 'quote', locals: { quote: quote } %>
                     <% end %>
                <% end %>
          </ol>
  <!-- END OF FORM !-->
  <% end %>
</div>