<%= render "boards/sidebar" %>
<div class="o-content_container">
  <% if current_user.guest? %>
    <div class="c-status_message finalize_demo">
      <h1>This demo account is valid for 24 hours. We hope you'll choose to keep using ettúi.</h1>
      <%= link_to "Keep using Ettúi.", completion_path %>
    </div>
  <% end %>
  <div class="icon-menu js-toggle-menu"></div>
  <div class="o-title_container">
    <h1 class="o-content_container__title subtitle--all-caps subtitle--secondary">
      <% if !@quotes.empty? %>
        Listing <%= @quotes_container_title %>
      <% else %>
          Adding your first quotes
      <% end %>
    </h1>
  </div>
  <div class="o-quotes_container">
    <% if !@quotes.empty? %>
        <ul>
          <%= render(@quotes) %>
        </ul>
      <% else %>
        <%= render "boards/out_of_quotes" %>
      <% end %>
  </div>
</div>
