<header>
  <h1 class="c-ettui-logo">ettúi.</h1>
  <div>
    <% if current_user %>
      <%= link_to "Logout", logout_path, class: "subtitle--all-caps header__link secondary" %>
      <% if current_user.twitter_image_url.nil? %>
        <%= link_to current_user.name || current_user.email, board_path(current_user.boards.first), {:style=> 'background-color: rgba(0, 0, 0, .07); padding: 1px 6px 3px; border-radius: 8px; color: #666; font-weight: 600; max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'} %>
      <% else %>
        <%= link_to image_tag(current_user.twitter_image_url, class: "a-profile_image"), board_path(current_user.boards.first) %>
      <% end %>
    <% else %>
      <%= link_to "Try our demo", demo_path, class: "subtitle--all-caps header__link secondary" %>
      <%= link_to "Sign in", login_path, class: "subtitle--all-caps header__link secondary" %>
    <% end %>
  </div>
</header>
