<header class="c-header">
  <div class="c-header__container">
    <h1 class="c-ettui-logo">ettúi.</h1>
    <div class="c-header_ctas__container">
      <% if current_user %>
        <%= link_to "Logout", logout_path, :class => "c-button c-button--small" %>
        <%= link_to image_tag(current_user.twitter_image_url), filter_board_quotes_path(current_user.boards.first), :class => "c-profile_image" %>
      <% else %>
        <%= link_to "Try our demo", demo_path, :class => "c-button c-button--small" %>
        <%= link_to "Sign in", login_path, :class => "c-button c-button--small" %>
      <% end %>
    </div>
  </div>
</header>
<!--
<% if current_user %>
  <div class="c-test_data">
      <h6><%= current_user.name %></h6>
      <%= link_to "Logout", logout_path %>
  </div>
<% end %>
!-->
