<!DOCTYPE html>
<html>
<head>
  <title>Well</title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
</head>
<body>

<header>
	<%= image_tag "well.png", :height => "28" %>
	<a href="http://tiny.cc/wellwell">
		<h1 style="display: inline;">Well said</h1>
	</a>
	<p><%= link_to "Logout", logout_path if current_user %></p>
	<!--
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	!-->
</header>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
