<!DOCTYPE html>
<html>
<head>
  <title>Ettúi: The archive for great things you've read.</title>
  <script type="text/javascript" src="//use.typekit.net/vcm8wta.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />

  <!-- Run in full-screen mode. -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Make the status bar black with white text. -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Customize home screen title. -->
    <meta name="apple-mobile-web-app-title" content="Noted">

    <!-- Disable phone number detection. -->
    <meta name="format-detection" content="telephone=no">

  <!-- Homescreen icon images -->

  <link rel="apple-touch-icon" href="<%= asset_path("apple-touch-icon-iphone") %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("touch-icon-ipad") %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path("touch-icon-iphone-retina") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path("touch-icon-ipad-retina") %>">

  <!-- Startup images -->

    <!-- iOS 6 & 7 iPad (retina, portrait) -->
    <link href="<%= asset_path("apple-touch-startup-image-1536x2008") %>"
         media="(device-width: 768px) and (device-height: 1024px)
            and (orientation: portrait)
            and (-webkit-device-pixel-ratio: 2)"
         rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPad (retina, landscape) -->
    <link href="<%= asset_path("apple-touch-startup-image-1496x2048") %>"
         media="(device-width: 768px) and (device-height: 1024px)
            and (orientation: landscape)
            and (-webkit-device-pixel-ratio: 2)"
         rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (portrait) -->
    <link href="<%= asset_path("apple-touch-startup-image-768x1004") %>"
         media="(device-width: 768px) and (device-height: 1024px)
            and (orientation: portrait)
            and (-webkit-device-pixel-ratio: 1)"
         rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (landscape) -->
    <link href="<%= asset_path("apple-touch-startup-image-748x1024") %>"
         media="(device-width: 768px) and (device-height: 1024px)
            and (orientation: landscape)
            and (-webkit-device-pixel-ratio: 1)"
         rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone 5 -->
    <link href="<%= asset_path("apple-touch-startup-image-640x1096") %>"
         media="(device-width: 320px) and (device-height: 568px)
            and (-webkit-device-pixel-ratio: 2)"
         rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone (retina) -->
    <link href="<%= asset_path("apple-touch-startup-image-640x920") %>"
         media="(device-width: 320px) and (device-height: 480px)
            and (-webkit-device-pixel-ratio: 2)"
         rel="apple-touch-startup-image">

    <!-- iOS 6 iPhone -->
    <link href="<%= asset_path("apple-touch-startup-image-320x460") %>"
         media="(device-width: 320px) and (device-height: 480px)
            and (-webkit-device-pixel-ratio: 1)"
         rel="apple-touch-startup-image">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31860470-2', 'auto');
      ga('send', 'pageview');

    </script>
    <script src="//cdn.zarget.com/56941/61363.js"></script>
</head>
<body class="t-white <%= params[:action] %>">
<!--
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
!-->

<div id="smooth" class="container <%= "no-sidebar" unless params[:controller].eql?("boards") || params[:action].eql?("filter") %>">
  <%= yield %>
</div>

</body>
</html>
